@model IEnumerable<拍卖系统.Models.Good>

@{
	ViewData["Title"] = "商品管理";
}
<section class="content-header">
	<h1>商品管理</h1>
	<small>
		<a asp-action="Create">新建商品</a>
	</small>
</section>
<section class="content">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Id)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Description)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Price)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.UserId)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Id)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Description)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.UserId)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a> |
					<a asp-action="Create" asp-controller="Auctions" asp-route-gid="@item.Id">创建拍卖</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</section>