@model IEnumerable<拍卖系统.Areas.Admin.Models.Menuitem>

@{
	ViewData["Title"] = "菜单子项列表";
}
<section class="content-header">
	<h1>菜单子项列表</h1>
	<small><a asp-action="CreateItem" asp-route-groupid="@ViewData["GroupId"]">新建菜单子项</a></small>
</section>
<section class="content">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ActionName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ItemICO)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.ItemName)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ActionName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ItemICO)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ItemName)
					</td>
					<td>
						<a asp-action="EditItem" asp-route-id="@item.Id">编辑</a> |
						<a asp-action="DeleteItem" asp-route-id="@item.Id">删除</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</section>