@model IEnumerable<拍卖系统.Areas.Admin.Models.Menu>

@{
    ViewData["Title"] = "菜单分组列表";
}
<section class="content-header">
	<h1>菜单分组列表</h1>
	<small><a asp-action="Create">新建菜单分组</a></small>
</section>
<section class="content">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.ControllerName)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.GroupICO)
				</th>
				<th>
					@Html.DisplayNameFor(model => model.GroupName)
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.ControllerName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GroupICO)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.GroupName)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
						<a asp-action="Details" asp-route-id="@item.Id">管理子项</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">删除</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</section>